.carditem {
   position: relative;
   height: 240px;
   width: 240px;
   border-radius: 8px;
   position: relative;
   box-sizing: border-box;
   cursor: pointer;
   transition: transform 1s;
   transform-style: preserve-3d;

   &-front,
   &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
   }

   &-front {
      padding: 0 20px 24px;
      box-sizing: border-box;
   }

   &-back,
   &-complite {
      transform: rotateY(180deg);
   }

   &-reward-wrp {
      position: absolute;
      top: 0;
      right: 0;
      height: 32px;
      width: 47px;
      border-radius: 0 8px;
      text-align: center;
      background: #64060640;
   }

   &-reward {
      vertical-align: middle;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0em;
      color: #fff;
   }

   &-text {
      display: flex;
      align-items: flex-end;
      height: 100%;
      color: #fff;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 23px;
      letter-spacing: 0em;
   }
}

.is-flipped {
   transform: rotateY(180deg);
}

.lowest-reward {
   background-color: #ffb966;
}
.low-reward {
   background-color: #fe8368;
}
.high-reward {
   background-color: #ff5f5f;
}
.highest-reward {
   background-color: #ff467d;
}
